include layouts/layout.pug

block headerscripts
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	// CSS
	link(rel='stylesheet', type='text/css', href='/stylesheets/css/app.css')
	// Font Awesome
	link(rel='stylesheet', href='/stylesheets/css/libs/font-awesome/css/font-awesome.min.css')
	// Fonts
	link(href='https://fonts.googleapis.com/css?family=Montserrat:500|Open+Sans:300,400', rel='stylesheet')

block content
	include layouts/includes/nav.pug
	div
		.img-container
	// Search Overlay
	#overlay-search-container
		.overlay-content
			#overlay-search-header
				span#overlay-search-text Search for an artist...
				span#overlay-search-close
					i.fa.fa-times(aria-hidden='true')
			#overlay-search
				input#overlay-search-input(type='text')
			ul#overlay-search-results

block footerscripts
	// jQuery
	script(src='https://code.jquery.com/jquery-3.2.1.min.js')
	// lodash
	script(type='text/javascript', src='/javascripts/libs/lodash.custom.min.js')
	// JavaScript
	script(src='/javascripts/index.js')