nav.navbar
	.nav-container
		// Navbar Brand
		a.navbar-brand(href='/') Bandstalker
		// Search form
		.navbar-login.pull-right
			a.login(href="/login") Login 
			span or 
			a.signup(href="/signup") Signup 
		.form-inline.pull-right
			#search-container
				i.fa.fa-search(aria-hidden='true')
				input#search(type='text', placeholder='Search')