input[type="text"]
    margin: 10px
    background: $black
    height: 45px
    width: 100%
    outline: none
    border: none

button
    margin: 10px
    background: $black
    height: 45px
    width: 100%
    padding: 10px
    outline: none
    border: none
    color: #fff

.form-group
    width: auto
    margin: 0 auto

.input-label
    margin: 10px
    display: block

