include ../layouts/layout.pug

block headerscripts
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	// CSS
	link(rel='stylesheet', type='text/css', href='/stylesheets/css/app.css')

block content
	.container
		.row
			form(method="post" action="/login")
				div.form-group
					label(for="username") Username
					input.form-control(type="text" name="username" placeholder="Enter your username" maxlength="25" required)
				div.form-group
					label(for="password") Password
					input.form-control(type="text" name="password" placeholder="Enter your password" maxlength="100"  required)
				button(type="submit") Submit

block footerscripts